<div class="container">
    <div class="container">
        <div class="input-group col-md-12" style="text-align: center">
            <input type="text" class="search-query form-control" placeholder="Search with customer id"  name="email" [(ngModel)]="id"/>
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" (click)="getCustomersById()">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <div>The customer detail with customer id {{id}} are as follows
            <br>
            Customer Username: {{customerById.username}}
            <br>
            Customer Password: {{customerById.password}}
            <br>
            Customer MobileNumber: {{customerById.mobileNumber}}
            <br>
            Customer Email: {{customerById.email}}
        </div>
        <div class="row col-md-6 col-md-offset-2 custyle">
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Password</th>
                <th>MobileNumber</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.customerId}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.mobileNumber}}</td>
                <td>{{customer.password}}</td>
                <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deleteCustomer(customer.customerId)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            </tr>
        </tbody>
        </table>
        </div>
</div>
<form action="">
<div class="form-group">
    <label for="Name"><span class="req">* </span> UserName: </label>
    <input required type="text" [(ngModel)]="username" name="name" id="name"
        class="form-control phone" maxlength="28" placeholder="Enter your Username" />
</div>
<div class="form-group">
    <label for="lastname"><span class="req">* </span> Password : </label>
    <input class="form-control" type="password" [(ngModel)]="password" name="experience" id="txt"
        placeholder="Enter your password" required />
    <div id="errLast"></div>
</div>
<div class="form-group">
    <input class="btn btn-success" type="submit" name="submit_reg" value="Validate" (click)="validateCustomers()">
</div>
</form>
<div>{{validCustomer.username}}</div>
